
.Heroimgcontanier{
   position: relative;
   max-width: 1440px;
   max-height: 600px;
   margin: auto;
   align-content: center; 
}

.logo{
   position: relative;
   top: 220px;
   left: -40px;
   margin-top: -250px;
   align-content: center;
}

#Navtext1{
   float: right;
   position: relative;
   top: 30px;
}

#Navtext2{
   float: right;
   position: relative;
   top: 30px;
}

#Navtext3{
   float: right;
   position: relative;
   top: 30px;
}

#Navtext4{
   float: right;
   position: relative;
   top: 30px;
}

.Heroimage {
    max-width: 1440px;
    max-height: 600px;
    margin: auto;
    align-content: center;   
}

.WelcomeMessage{
    width: 1440px;
    height: 400px;
    background-color: lightgray;
    margin: auto;
    align-content: center;
}

.PageBlurbs{
    width: 1440px;
    height: 1700px;
    margin: auto;
    align-content: center;
}

#Nutritionimage{
   max-width: 650px;
   max-height: 400px; 
   margin: 30px;
   position: relative;
   top:-370px;
   float: left;
}

#Fitnessimage{
  max-width: 650px;
   max-height: 400px; 
   margin: 30px;
   position: relative;
   top:-370px;  
   float: right;
}

#Mentalimage{
   max-width: 650px;
   max-height: 400px; 
   margin: 30px;
   position: relative;
   top:-70px;
   float: left;
}

#Sleepimage{
  max-width: 650px;
   max-height: 400px; 
   margin: 30px;
   position: relative;
   top:-70px;  
   float: right;
}

.Footer{
    width: 1440px;
    height: 500px;
    background-color: lightgray;
    margin: auto;
    align-content: center;
}

.logo2{
   margin-left: -100px;
   margin-top: 10px;
   align-content: center;
}

