
h1 {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 55px;

}

h2, h3 {
  font-family: "Comic Neue", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
}

p{
   font-family: "Lexend";
   font-weight: 300;
   font-style: normal;
   font-size: 20px;
}

a{
   text-decoration: none;
   color: black;
}

#Navtext1, #Navtext2, #Navtext3, #Navtext4 {
   text-decoration: none;
   color: white;
}


.Heroimgcontanier{
   position: relative;
   max-width: 1440px;
   max-height: 700px;
   margin: auto;
   margin-top: 0%;
   padding-top: 0%;
   margin-bottom: 100px;
   align-content: center; 
}

.logo{
   position: relative;
   top: 220px;
   left: -40px;
   margin-top: -250px;
   align-content: center;
}

.Navbarcontanier{
   position: relative;
   margin-top: 0%;
   padding-top: 0%;
}

#Navtext1{
   margin-top: 0%;
   padding-top: 0%;
   position: absolute;
   top: 30px;
   right: 350px;
}

#Navtext2{
   margin-top: 0%;
   padding-top: 0%;
   position: absolute;
   top: 30px;
   right: 250px;
}

#Navtext3{
   margin-top: 0%;
   padding-top: 0%;
   position: absolute;
   top: 30px;
   right: 150px;
}

#Navtext4{
   margin-top: 0%;
   padding-top: 0%;
   position: absolute;;
   top: 30px;
   right: 50px;
}

.HeroText{
   top: 450px;
   left:50px;
   position: absolute;
   color: white;
}

.Heroimage {
    max-width: 1440px;
    max-height: 600px;
    margin: auto;
    margin-top: -60px;
    margin-left: -10px;
    align-content: center;   
}

.WelcomeMessage{
    width: 1440px;
    height: 350px;
    background-color: lightgray;
    margin: auto;
    margin-bottom: 100px;
    position: relative;
    left:-10px ;
    align-content: center;
    top: 15px;
}

.WelcomeMessagetext{
    margin: 70px;
}

.PageBlurbs{
    width: 1440px;
    height: 1600px;
    margin: auto;
    align-content: center;
    margin-bottom: 30px;
}

#Nutritionimage{
   max-width: 650px;
   max-height: 400px; 
   margin: 30px;
   position: relative;
   top:-80px;
   float: left;
}

.Nutitiontext{
   width: 600px;
   text-align: left;
   position: relative;
   left: 70px;
   top: -80px;
   margin-bottom: -100px;

}

#Fitnessimage{
  max-width: 650px;
   max-height: 400px; 
   margin: 30px;
   position: relative;
   top:-775px;  
   float: right;
}

.Fitnesstext{
   width: 600px;
   text-align: left;
   position: relative;
   left: 800px;
   top: -310px;
   margin-bottom: -100px;

}

#Mentalimage{
   max-width: 650px;
   max-height: 400px; 
   margin: 30px;
   position: relative;
   top:-150px;
   float: left;

}

.Mentaltext{
   width: 600px;
   text-align: left;
   position: relative;
   left: 80px;
   top: -120px;
}

#Sleepimage{
  max-width: 650px;
   max-height: 400px; 
   margin: 30px;
   position: relative;
   top:-940px;  
   float: right;
}

.Sleeptext{
   width: 600px;
   text-align: left;
   position: relative;
   left: 800px;
   top: -460px;
   margin-bottom: -200px;

}

.Footer{
    width: 1440px;
    height: 950px;
    background-color: lightgray;
    margin: auto;
    align-content: center;
    position: relative;
    left:-10px ;
}

.logo2{
   margin-left: -100px;
   margin-top: 80px;
   align-content: center;
}

.Nurtitoncolum{
   width:180px;
   position: absolute;
   top: 70px;
   right: 650px;
}

.Fitnesscolum{
   width:180px;
   position: absolute;
   top: 70px;
   right: 460px;
}

.Mentalcolum{
   width:170px;
   position: absolute;
   top: 70px;
   right: 280px;
}

.Sleepcolum{
   width:180px;
   position: absolute;;
   top: 70px;
   right: 70px;
}


.ThankyouMessage{
   margin-top: 200px;
   margin-left: 100px;
   width: 1200px;
}

