a{
   text-decoration: none;
   color: black;
}

#Ref{
   text-decoration: underline;
   color: darkgreen;
}

#Navtext1, #Navtext2, #Navtext3, #Navtext4 {
   text-decoration: none;
   color: white;
}

.Heroimgcontanier{
    position: relative;
    max-width: 1440px;
    max-height: 700px;
    margin: auto;
    margin-top: 0%;
    padding-top: 0%;
    margin-bottom: 100px;
    align-content: center; 
}

.logo{
   position: relative;
   top: 220px;
   left: -40px;
   margin-top: -250px;
   align-content: center;
}

.Navbarcontanier{
   position: relative;
   margin-top: 0%;
   padding-top: 0%;
}

#Navtext1{
   margin-top: 0%;
   padding-top: 0%;
   position: absolute;
   top: 30px;
   right: 350px;
}

#Navtext2{
   margin-top: 0%;
   padding-top: 0%;
   position: absolute;
   top: 30px;
   right: 250px;
}

#Navtext3{
   margin-top: 0%;
   padding-top: 0%;
   position: absolute;
   top: 30px;
   right: 150px;
}

#Navtext4{
   margin-top: 0%;
   padding-top: 0%;
   position: absolute;;
   top: 30px;
   right: 50px;
}

.HeroText{
   top: 500px;
   left:50px;
   position: absolute;
   color: white;
}

.Heroimage {
    max-width: 1440px;
    max-height: 600px;
    margin: auto;
    margin-top: -60px;
    margin-left: -10px;
    align-content: center;
       
}

.WelcomeMessage{
    width: 1440px;
    height: 350px;
    background-color: lightgray;
    margin: auto;
    margin-bottom: 20px;
    position: relative;
    left:-10px ;
    align-content: center;
    top: 15px;
}

.WelcomeMessagetext{
    margin: 50px;
}

.Decorationimage1{
    max-width: 1440px;
    height: 280px;
    margin: auto;
    margin-top: -10px;
    align-content: center;
    position: relative;
    left:-10px ;
}

.Informationsection{
    max-width: 1440px;
    height: 1500px;
    margin: auto;
}

.Addinfo1{
    width: 250px;
    height: 340px;
    background-color: grey;
    float: left;
    margin: 40px;

}

.Addinfo1a{
   padding: 30px;
   margin-top: -20px;
}

.Addinfo2{
   width: 250px;
   height: 320px;
   background-color: grey;
   float: right;
   margin: 40px;

}

.Addinfo2a{
   padding: 30px;
   margin-top: -5px;
}

.TextContent{
  width: 700px;
  margin:auto;
  margin-top: -1430px;
   
}

table {
   width: 800px;

}

th {
   text-align: left;
}

.Keytakeaways{
    max-width: 1300px;
    height: 600px;
    margin: auto;
    margin-top: 30px;
    background-color: lightgray;
}

.Keytakeawaystext{
   padding: 150px;
}

.Decorationimage2{
    max-width: 1440px;
    height: 300px;
    margin: auto;
    margin-top: 80px;
    align-content: center;
    position: relative;
    left:-10px;
    
}

.References{
    max-width: 1440px;
    height: 750px;
    margin: auto;
}

.ReferenceText{
   width: 800px;
   margin-left:200px;
   margin-top: 200px;
}

.Footer{
    width: 1440px;
    height: 650px;
    background-color: lightgray;
    margin: auto;
    align-content: center;
    position: relative;
    left:-10px ;
}

.logo2{
   margin-left: -100px;
   margin-top: -100px;
   align-content: center;
}

.Nurtitoncolum{
   width:180px;
   position: absolute;
   top: 70px;
   right: 650px;
}

.Fitnesscolum{
   position: absolute;
   top: 70px;
   right: 500px;
}

.Mentalcolum{
   position: absolute;
   top: 70px;
   right: 300px;
}

.Sleepcolum{
   position: absolute;;
   top: 70px;
   right: 100px;
}

.ThankyouMessage{
   margin-top: 70px;
   margin-left: 100px;
}