h1 {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 55px;

}

.Mainheading{
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 75px;
}

h2, h3 {
  font-family: "Comic Neue", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
}

th{
   font-weight: 410;
  font-style: normal;
  font-family: "Lexend";
  font-size: 25px; 
}

p,td,li{
   font-family: "Lexend";
   font-weight: 300;
   font-style: normal;
   font-size: 20px;
}

a{
   text-decoration: none;
   color: black;
}

.Ref{
   text-decoration: underline;
   color: darkgreen;
}

#Navtext1, #Navtext2, #Navtext3, #Navtext4 {
   text-decoration: none;
   color: white;
}

.Heroimgcontanier{
   position: relative;
   max-width: 1440px;
   max-height: 700px;
   margin: auto;
    margin-top: 0%;
    padding-top: 0%;
    margin-bottom: 100px;
   align-content: center; 
}

.logo{
   position: relative;
   top: 220px;
   left: -40px;
   margin-top: -250px;
   align-content: center;
}

.Navbarcontanier{
   position: relative;
   margin-top: 0%;
   padding-top: 0%;
}

#Navtext1{
   margin-top: 0%;
   padding-top: 0%;
   position: absolute;
   top: 30px;
   right: 350px;
}

#Navtext2{
   margin-top: 0%;
   padding-top: 0%;
   position: absolute;
   top: 30px;
   right: 250px;
}

#Navtext3{
   margin-top: 0%;
   padding-top: 0%;
   position: absolute;
   top: 30px;
   right: 150px;
}

#Navtext4{
   margin-top: 0%;
   padding-top: 0%;
   position: absolute;;
   top: 30px;
   right: 50px;
}

.HeroText{
   top: 450px;
   left:50px;
   position: absolute;
   color: white;
}

.Heroimage {
    max-width: 1440px;
    max-height: 600px;
    margin: auto;
    margin-top: -60px;
    margin-left: -10px;
    align-content: center;
     
}

.WelcomeMessage{
    width: 1440px;
    height: 350px;
    background-color:rgba(242, 213, 130, 1);
    margin: auto;
    margin-bottom: 20px;
    position: relative;
    left:-10px ;
     align-content: center;
     top:15px;
}

.WelcomeMessagetext{
    margin: 50px;
    color:rgba(16, 99, 134, 1);
}

.Decorationimage1{
    max-width: 1440px;
    height: 280px;
    margin: auto;
    margin-top: -10px;
    align-content: center;
    position: relative;
    left:-10px ;
}

.Informationsection{
    max-width: 1440px;
    height: 1500px;
    margin: auto;
   }

.heading{
color:rgba(16, 99, 134, 1);  
}

.Addinfo1{
    width: 280px;
    height: 540px;
    background-color:rgba(242, 213, 130, 1);
    float: left;
    margin: 40px;

}

.Addinfo1a{
   padding: 30px;
   margin-top: -20px;
}

.Addinfo2{
   width: 280px;
   height: 540px;
   background-color:rgba(242, 213, 130, 1);
   float: right;
   margin: 40px;

}

.Addinfo2a{
   padding: 30px;
   margin-top: -5px;
}

.TextContent{
  width: 700px;
  margin:auto;
  margin-top: -1430px;
color:rgba(16, 99, 134, 1);    
}

table{
  width: 800px;
   
}

th{
text-align: left;
}

.Keytakeaways{
    max-width: 1300px;
    height: 500px;
    margin: auto;
    margin-top: 100px;
    background-color:  rgba(242, 213, 130, 1);
    position: relative;
}

.Keytakeawaystext{
   width: 850px;
   align-content: center;
   margin: auto;
   position: absolute;
   top: 50px;
   left: 200px;
   color:rgba(16, 99, 134, 1);
}

.Decorationimage2{
    max-width: 1440px;
    height: 300px;
    margin: auto;
    margin-top: 80px;
    align-content: center;
    position: relative;
    left:-10px ;
    
}

.References{
    max-width: 1440px;
    height: 800px;
    margin: auto;
    margin-bottom: 80px;
    position:reletive;
    padding-bottom: 230px;

}

.ReferenceText{
   width: 800px;
   margin-left:200px;
   margin-top: 150px;
   display: block;
   padding-bottom: 100px;
   color:rgba(16, 99, 134, 1);
}

.Footer{
    width: 1440px;
    height: 950px;
    background-color:rgba(242, 213, 130, 1);
    margin: auto;
    align-content: center;
    position: relative;
    left:-10px ;
}

.logo2{
   margin-left: -100px;
   margin-top:80px;
   align-content: center;
}

.Nurtitoncolum{
   width:180px;
   position: absolute;
   top: 70px;
   right: 650px;
}

.Fitnesscolum{
   width:180px;
   position: absolute;
   top: 70px;
   right: 460px;
}

.Mentalcolum{
   width:170px;
   position: absolute;
   top: 70px;
   right: 280px;
}

.Sleepcolum{
   width:180px;
   position: absolute;;
   top: 70px;
   right: 70px;
}

.ThankyouMessage{
   margin-top: 200px;
   margin-left: 100px;
   width: 1200px;
   color:rgba(16, 99, 134, 1);
}