.Heroimage {
    max-width: 1440px;
    max-height: 900px ;
    margin: -8px;
}

.WelcomeMessage{
    max-width: 1440px;
    height: 350px;
    background-color: lightgray;
    margin: -8px;
}

.decorationimage1{
   max-width: 1440px;
    height: 100px;
    margin: -8px;
    
}

.Informationsection{
    max-width: 1440px;
    height: 1500px;
    margin: -8px;
}

.Addinfo1{
    max-width: 250px;
    height: 250px;
    background-color: grey;
    float: left;
    margin: 40px;

}

.Addinfo2{
   max-width: 250px;
   height: 250px;
   background-color: grey;
   float: right;
   margin: 40px;

}

.Keytakeaways{
    max-width: 1300px;
    height: 600px;
    margin: 100px;
    background-color: lightgray;
}

.decorationimage2{
    max-width: 1440px;
    max-height: 200px;
    margin: -8px;
    
}

.References{
    max-width: 1440px;
    height: 750px;
    margin: -8px;
}

.Footer{
    max-width: 1440px;
    height: 500px;
    background-color: lightgray;
    margin: -8px;
}